<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03_Form</title>
</head>

<body>
    <h1>Apply For Job</h1>
    <form>
        <fieldset>
            <legend>Forms</legend>
            <fieldset>
                <legend>Personal Details</legend>
                <label for="f_name">First Name : </label>
                <input type="text" id="f_name" name="f_name" required><br>
                <label for="f_name">Last Name : </label>
                <input type="text" id="l_name" name="f_name" required><br>
                <label for="email">Email :</label>
                <input type="email" name="email">
            </fieldset>
            <fieldset>
                <legend>Requirment</legend>
                <label>Role : </label>
                <input type="radio" id="frontend" name="Requirment">
                <label>Frontend</label>
                <input type="radio" id="backend" name="Requirment">
                <label>Backend</label>
                <input type="radio" id="fullstack" name="Requirment">
                <label>Fullstack</label><br>
                <label>Select Language</label>
                <select name="Requirment" id="language">
                    <optgroup label="Frontend">
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Bootsrap">Bootsrap</option>
                    </optgroup>
                    <optgroup label="Backend">
                        <option value="1">Python</option>
                        <option value="2">Java</option>
                        <option value="3">c++</option>
                        <option value="4">c</option>
                    </optgroup>
                </select><br>
                <label for="range"> Typing skill :</label>
                <input type="range" value="80" name="typing"><br>
                <label>Any project : </label>
                <input type="radio" name="project">
                <label>YES</label>
                <input type="radio" name="projest">
                <label>NO</label><br>
                <label>Explain at least one mejor project </label><br>
                <textarea name="text" id="project_text" rows="5" cols="40"
                    placeholder="write about your project...."></textarea><br>
                <label>Exprience company name :</label>
                <input list="company_name" id="company" name="company">
                <datalist id="company_name">
                    <option value="Wipro">
                    <option value="TCS">
                    <option value="STPI">
                    <option value="Google">
                    <option value="Microsoft">
                    <option value="Amazon">
                    <option value="Filipkart">
                </datalist>
                <br>
                <label>Upload Resume :</label>
                <input type="file">


            </fieldset>
            <fieldset>
                <legend>Build your Card</legend>
        
                <label for="full_name">Full Name</label>
                <input type="text" name="full_name"><br>
                <label for="full_name">Mobile no :</label>
                <input type="number" name="number_mobile"><br>
                <lable>Gender : </lable>
                <input type="radio" name="gender">
                <lable>Male</lable>
                <input type="radio" name="gender">
                <lable>Female</lable>
                <input type="radio" name="gender">
                <lable>Other</lable>
                <lable>Date of birth :</lable>
                <input type="date" name="date_of_birth"><br>
                <label for="card_theme">ID theme color : </label>
                <input type="color" name = "id_color" >

            </fieldset>
            <input type="checkbox">
            <label>I'm not robot</label>
        </fieldset>
        <button type="submit">Sumbit</button>
        <button type="reset">Reset</button>
    </form>


</body>
</html>